<?xml version="1.0" encoding="UTF-8"?>
<config>
    <sections>
        <carriers translate="label" module="shipping">
            <groups>
                <mfb_myflyingbox translate="label">
                    <label>MyFlyingBox</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                        
                        <api_login translate="label">
                          <label>MFB API login</label>
                          <comment></comment>
                          <frontend_type>text</frontend_type>
                          <sort_order>2</sort_order>
                          <show_in_default>1</show_in_default>
                          <show_in_website>1</show_in_website>
                          <show_in_store>1</show_in_store>
                          <validate>required-entry</validate>
                        </api_login>

                        <api_password translate="label">
                          <label>MFB API Password</label>
                          <comment></comment>
                          <frontend_type>text</frontend_type>
                          <sort_order>3</sort_order>
                          <show_in_default>1</show_in_default>
                          <show_in_website>1</show_in_website>
                          <show_in_store>1</show_in_store>
                          <validate>required-entry</validate>
                        </api_password>

                        <api_env translate="label">
                          <label>MFB API Password</label>
                          <comment></comment>
                          <frontend_type>text</frontend_type>
                          <sort_order>4</sort_order>
                          <show_in_default>1</show_in_default>
                          <show_in_website>1</show_in_website>
                          <show_in_store>1</show_in_store>
                          <validate>required-entry</validate>
                        </api_env>
                        
                        <api_env translate="label">
                          <label>Environment</label>
                          <frontend_type>select</frontend_type>
                          <sort_order>5</sort_order>
                          <source_model>mfb_myflyingbox/adminhtml_fieldtype_environment</source_model>
                          <show_in_default>1</show_in_default>
                          <show_in_website>1</show_in_website>
                          <show_in_store>0</show_in_store>
                        </api_env>

                        <shipper_name translate="label">
                          <label>Shipper name</label>
                          <comment></comment>
                          <frontend_type>text</frontend_type>
                          <sort_order>6</sort_order>
                          <show_in_default>1</show_in_default>
                          <show_in_website>1</show_in_website>
                          <show_in_store>1</show_in_store>
                          <validate>required-entry</validate>
                        </shipper_name>

                        <shipper_company translate="label">
                          <label>Shipper company</label>
                          <comment></comment>
                          <frontend_type>text</frontend_type>
                          <sort_order>7</sort_order>
                          <show_in_default>1</show_in_default>
                          <show_in_website>1</show_in_website>
                          <show_in_store>1</show_in_store>
                          <validate>required-entry</validate>
                        </shipper_company>
                        
                        <shipper_street translate="label">
                          <label>Street</label>
                          <comment></comment>
                          <frontend_type>textarea</frontend_type>
                          <sort_order>8</sort_order>
                          <show_in_default>1</show_in_default>
                          <show_in_website>1</show_in_website>
                          <show_in_store>1</show_in_store>
                          <validate>required-entry</validate>
                        </shipper_street>
                        
                        <shipper_city translate="label">
                          <label>City</label>
                          <comment></comment>
                          <frontend_type>text</frontend_type>
                          <sort_order>9</sort_order>
                          <show_in_default>1</show_in_default>
                          <show_in_website>1</show_in_website>
                          <show_in_store>1</show_in_store>
                          <validate>required-entry</validate>
                        </shipper_city>
                        
                        <shipper_postcode translate="label">
                          <label>Postcode</label>
                          <comment></comment>
                          <frontend_type>text</frontend_type>
                          <sort_order>10</sort_order>
                          <show_in_default>1</show_in_default>
                          <show_in_website>1</show_in_website>
                          <show_in_store>1</show_in_store>
                          <validate>required-entry</validate>
                        </shipper_postcode>
                        
                        <shipper_country translate="label">
                          <label>Country</label>
                          <frontend_type>select</frontend_type>
                          <sort_order>11</sort_order>
                          <source_model>adminhtml/system_config_source_country</source_model>
                          <show_in_default>1</show_in_default>
                          <show_in_website>1</show_in_website>
                          <show_in_store>0</show_in_store>
                        </shipper_country>

                        <shipper_phone translate="label">
                          <label>Phone number</label>
                          <comment></comment>
                          <frontend_type>text</frontend_type>
                          <sort_order>12</sort_order>
                          <show_in_default>1</show_in_default>
                          <show_in_website>1</show_in_website>
                          <show_in_store>1</show_in_store>
                          <validate>required-entry validate-phone</validate>
                        </shipper_phone>
                        
                        <shipper_email translate="label">
                          <label>Email address</label>
                          <comment></comment>
                          <frontend_type>text</frontend_type>
                          <sort_order>13</sort_order>
                          <show_in_default>1</show_in_default>
                          <show_in_website>1</show_in_website>
                          <show_in_store>1</show_in_store>
                          <validate>required-entry validate-email</validate>
                        </shipper_email>

                        <default_parcel_description translate="label">
                          <label>Default parcel content</label>
                          <comment>Used during automatic initialization of shipments in back-office.</comment>
                          <frontend_type>text</frontend_type>
                          <sort_order>14</sort_order>
                          <show_in_default>1</show_in_default>
                          <show_in_website>1</show_in_website>
                          <show_in_store>1</show_in_store>
                          <validate>required-entry</validate>
                        </default_parcel_description>
                        
                        <default_country_of_origin translate="label">
                          <label>Default country of origin</label>
                          <comment>Used during automatic initialization of shipments in back-office.</comment>
                          <frontend_type>select</frontend_type>
                          <sort_order>15</sort_order>
                          <source_model>adminhtml/system_config_source_country</source_model>
                          <show_in_default>1</show_in_default>
                          <show_in_website>1</show_in_website>
                          <show_in_store>0</show_in_store>
                        </default_country_of_origin>

                        <price_surcharge_percent translate="label">
                          <label>Price surcharge (percentage of base price)</label>
                          <comment>A value of 20 will inscrease the price by 20%, a value of 100 will double the price. Applied before static surcharge and rounding.</comment>
                          <frontend_type>text</frontend_type>
                          <sort_order>16</sort_order>
                          <show_in_default>1</show_in_default>
                          <show_in_website>1</show_in_website>
                          <show_in_store>1</show_in_store>
                        </price_surcharge_percent>

                        <price_surcharge_static translate="label">
                          <label>Price surcharge (in cents)</label>
                          <comment>IN CENTS! If you want to add 5€ to all MFB service prices, then write 500. Applied before any rounding.</comment>
                          <frontend_type>text</frontend_type>
                          <sort_order>17</sort_order>
                          <show_in_default>1</show_in_default>
                          <show_in_website>1</show_in_website>
                          <show_in_store>1</show_in_store>
                        </price_surcharge_static>


                        <price_rounding_increment translate="label">
                          <label>Increment for price rounding</label>
                          <comment>IN CENTS! e.g. 20 will round 13.33 to 13.40, 100 will round 15.13 to 16.00. Leave empty for no rounding.</comment>
                          <frontend_type>text</frontend_type>
                          <sort_order>18</sort_order>
                          <show_in_default>1</show_in_default>
                          <show_in_website>1</show_in_website>
                          <show_in_store>1</show_in_store>
                        </price_rounding_increment>
                        
                    </fields>
                 </mfb_myflyingbox>
            </groups>
        </carriers>
    </sections>
</config>
